<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
</head>
<!-- JINJA TEMPLATING -->
{% extends 'base.html' %} 
{% block content %}
<!-- FLASH MESSAGE FOR LOGIN/LOGOUT -->
<div class="index">
  {% for mess in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{mess}}
    </div>
  {% endfor %}
</div>

<div class="m-5 card mx-sm-auto p-3 mb-5" style="max-width: 30rem;">
  <h2 class="text-center">Welcome to Predict It</h2>
  <p class="text-center grey-text">
  
  </p>
  <div class="mt-2">
    {% if current_user.is_authenticated %}
      <div class="text-center">        
        <h3>Hi {{ current_user.name }}!</h3>
        <a class="btn btn-warning predict-it-button mb-1 w-50" href="{{ url_for('symptom1') }}" role="button">Get Started</a>
        <p><em>Click Get Started to Start Predicting</em></p>
      </div>
    <!-- ELSE SHOW A FORM FIELD FOR ENTERING NAME -->
    {% else %}
      <form method="POST">
        <div class="form-group">
          {{ form.hidden_tag() }} 
          {{ form.name.label }}
          <div class="d-flex justify-content-between">
            <div class="w-100 mr-2">{{form.name(class='form-control', placeholder='Keanu Reeves')}}</div>
            <div class="ml-2">
              {{ form.submit(class='btn btn-warning predict-it-button')}}
            </div>
          </div>
        </div>
      </form>
    {% endif %}
  </div>
  <p class="text-center">
  </p>
  <div class="row text-center">
    <div class="col-12 col-sm-6">
      {% if current_user.is_authenticated %}
        <p class="grey-text">View your predictions</p>
        <a class="btn btn-success" href="{{ url_for('predicted') }}" role="button">My Predictions</a>
      {% else %}
        <p class="grey-text">To save your predictions</p>
        <a class="btn btn-success" href="{{ url_for('register') }}" role="button">Register</a>
      {% endif %}
    </div>
    <div class="col-12 col-sm-6">
      {% if current_user.is_authenticated %}
        <p class="grey-text">To log out of our account</p>
        <a class="btn btn-warning predict-it-button" href="{{ url_for('logout') }}" role="button">Log Out</a>
      {% else %}
        <p class="grey-text">Already Registered?</p>
        <a class="btn btn-orange" href="{{ url_for('login') }}" role="button">Login</a>
        
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
